<ion-view view-title="五十音" hide-nav-bar="true" class="frame-50on">
  <ion-content has-bouncing="false">
    <!-- <ion-list>
      <ion-toggle  ng-model="settings.enableFriends">
          Enable Friends
      </ion-toggle>
    </ion-list> -->
    <div class="dc-title">
      <button class="button" ng-class="{'button-calm' : isActive==='hiragana'}" ng-click="switch('hiragana')">平假名</button>
      <button class="button" ng-class="{'button-calm' : isActive==='katagana'}"ng-click="switch('katagana')">片假名</button>
    </div>
    <div class="dc-line" ng-repeat="(lineIndex, line) in kana track by $index">
      <div class="dc-item"   ng-repeat="(itemIndex, item) in line track by $index" ng-click="playVoice(item)">
        <span class="kana" ng-if="item">{{item}}</span>
        <span class="romaji" ng-if="item">{{romaji[lineIndex][itemIndex]}}</span>
      </div>

    </div>
    <audio id="audio_50on">
      <source type="audio/mp4">
    </audio>
  </ion-content>
</ion-view>